th, tr, td {
    text-align: center;
    padding: 2px;
    height: 50px;
}

tr:hover {
    color: red !important;
    background-color: cornsilk !important;
}

th {
    background-color: gold !important;
    color: rgb(55, 55, 55) !important;
}


.fa {
    position: relative;
}